
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/4.10.2/fileHashes/fileHashes.lock
.gradle/4.10.2/fileHashes/fileHashes.bin
einheiten_transf$py.class
.gradle/4.10.2/fileHashes/fileHashes.lock
Einkaufszettel_Fischsuppe von Gummiadler.txt
rezept_class$py.class
.gradle/4.10.2/fileHashes/fileHashes.bin
.gradle/4.10.2/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
Einkaufszettel_Rosmarinkartoffeln mit Grana Padano von Grana_Padano.txt
